<h1>Регистрация</h1>

<form action="/register" method="post">
    <input type="text" name="username" placeholder="Введите имя">
    <input type="password" name="password" placeholder="Пароль">
   <button>Зарегистрироваться</button>
</form>

<li><a href="/register">Регистация</a></li>
<li><a href="/login">Войти</a></li>
<li><a href="/logout">Выйти</a></li>